<div class="card">
    <h3 class="mb-2">Cadastrar um Usuário</h3>
     {{#if error}}

     <div class="alert alert-danger">{{error}}</div>

    {{/if}}

     {{#if success}}

     <div class="alert alert-success">{{success}}</div>

    {{/if}}

  
    <form action="/painel/alterarsenha/{{login}}" method="POST">
    <div class="form-group">
        <label>Usuário</label>
        <dir  class="border">
           <h3>
             {{login}}
           </h3>
        </dir> 
    </div>
    <div class="form-group">
        <input type="hidden" name='login' value="{{login}}">
        <label for="exampleInputPassword1">Nova Senha</label>
        <input type="password" name="senha" class="form-control" id="exampleInputPassword1">
    </div>
      <div class="form-group">
        <label for="exampleInputPassword1">Confirmar Nova Senha</label>
        <input type="password" name="Csenha" class="form-control" id="exampleInputPassword1">
    </div>
    <button type="submit" class="btn btn-warning">Alterar Senha</button>
    </form>

</div>