<div class="card text-center">
    <h2>Novo Post</h2>
    {{#if error}}

     <div class="alert alert-danger">{{error}}</div>

    {{/if}}
<form action="/atualizar" method="POST">
  <div class="form-group">
    <label for="titulo">Titulo</label>
    <input type="hidden" name="id" value="{{id}}">
    <input type="text" class="form-control" value="{{titulo}}" id="titulo" name="titulo" maxlength="199" placeholder="Titulo do Post">
  </div>


  <div class="form-group">
    <label for="post">Post</label>
    <textarea class="form-control" name="post" id="post" rows="15">
        {{post}}
    </textarea>
  </div>
   <div class="form-group">
    <label for="categoria">Categoria</label>
    <input type="text"  value="{{categoria}}" class="form-control" id="categoria" name="categoria" maxlength="20" placeholder="Categoria">
    
  </div>
  <button class="btn btn-success postar">Postar</button>
</form>

</div>
